.card-project {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A4042;
    width: 350px;
    height: 350px;
    box-shadow: 5px 5px 4px #7F7F7F;
    border-radius: 250px;
}

.card-project.-red {
    background-color: #BB2020;
}