.main-subtitle { 
    color: #fff;
    font-family: "New Tegomin", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 30px;
    text-shadow: 4px 4px 4px #000000;
}