.skill-tec {
    display: flex;
    font-family: "New Tegomin", serif;
    font-size: 35px;
    color: #fff;
}

.skill-tec .icon {
    margin-right: 25px;
}

.skill-tec .rigth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}