h1 {
    color: #BB2020;
    font-family: "Press Start 2P", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    margin: 42px, 97px, 102px, 90px;
    text-shadow: 4px 4px 0px #000000;
}